{% load static %}

<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signature Authenticity</title>
        <!-- Load Roboto font -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Load css styles -->
<!-- project/templates/landing/index.html -->

        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/bootstrap-responsive.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/pluton.css' %}" />
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{% static 'app/css/pluton-ie7.css' %}" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/jquery.cslider.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/jquery.bxslider.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/animate.css' %}" />

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
        <link rel="shortcut icon" href="images/ico/favicon.ico">
    </head>
    
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#service">Do's</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Welcome to Pasign</h2>
                        <h4>PROVING HANDWRITTEN <br> SIGNATURE USING SIAMESE NEURAL NETWORK</h4>
                        <p>Ensure the validity of handwritten signatures through cutting-edge Siamese neural network technology, providing advanced verification and authentication of handcrafted signatures with unparalleled precision and security.</p>
                        <a href="{% url 'login_page' %}" class="da-link button">LOGIN</a>
                        <div class="da-img">
                            <img src="{% static 'landingpage/images/penwrite.png' %}" alt="image01" width="350">
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide">
                        <h2>GENUINE SIGNATURE</h2>
                        <h4>AUTHENTICITY SPEAKS VOLUMES IN <br> EVERY GENUINE SIGNATURE</h4>
                        <p>A Genuine Signature is a unique and unmistakable expression of one's true self. It transcends mere ink on paper, embodying the essence and integrity of an individual's thoughts, beliefs, and intentions.</p>
                        <a href="{% url 'login_page' %}" class="da-link button">LOGIN</a>
                        <div class="da-img">
                            <img src="{% static 'landingpage/images/pen.png' %}" width="320" alt="image02">
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide">
                        <h2>FORGED SIGNATURE</h2>
                        <h4>A FRAUDULENT REPLICATION OF A <br> PERSON'S MARK, UNDERMINING TRUST</h4>
                        <p>This act involves skilled imitation, aiming to deceive and manipulate documents, contracts, or agreements. It undermines the integrity of signatures, eroding the foundation of trust that such marks are meant to symbolize. </p>
                        <a href="{% url 'login_page' %}" class="da-link button">LOGIN</a>
                        <div class="da-img">
                            <img src="{% static 'landingpage/images/paper.png' %}" width="320" alt="image03">
                        </div>
                    </div>
                    <!-- Start third slide -->
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>
        <!-- End home section -->

        <!-- Service section start -->
        <div class="section primary-section" id="service">
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>What We Do?</h1>
                    <!-- Section's title goes here -->
                    <p>We leverage state-of-the-art Siamese Neural Network technology to achieve impressive signature accuracy rates.</p>
                    <!--Simple description for section goes here. -->
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="{% static 'landingpage/images/uploadbg.jpg' %}" alt="service 1" style="border: 3px solid #FECE1A;">
                            </div>
                            <h3>UPLOAD DATA</h3>
                            <p>This initial step involves inputting the relevant signature data into the system. This can include scanned images or digital files of signatures to be verified.</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="{% static 'landingpage/images/testbg.jpg' %}" alt="service 2" style="border: 3px solid #FECE1A;">
                            </div>
                            <h3>TEST</h3>
                            <p>Once the data is uploaded, the system initiates the verification process. It employs advanced algorithms to analyze the provided signature against reference samples.</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <img class="img-circle" src="{% static 'landingpage/images/resultbg.jpg' %}" alt="service 3" style="border: 3px solid #FECE1A;">
                            </div>
                            <h3>GET RESULT</h3>
                            <p>This step delivers a percentage-based evaluation, indicating the degree of similarity between the provided signature and the reference data, ensuring a concise outcome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service section end -->

        <div class="section secondary-section">
            <div class="triangle"></div>
            <div class="container centered">
                <p class="large-text">Your handwritten signature is a personal imprint, a unique expression of your identity and intention, capturing a moment in time with a stroke of the pen</p>
            </div>
        </div>
        
        <!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Who We Are?</h1>
                    <p>Duis mollis placerat quam, eget laoreet tellus tempor eu. Quisque dapibus in purus in dignissim.</p>
                </div>
                <div class="row-fluid team">
                    <div class="span3" id="first-person">
                        <div class="thumbnail">
                            <img src="{% static 'landingpage/images/Myk.JPG' %}" alt="team 1">
                            <h3>Abad, Mykel Zandrex P.</h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Programmer</h2>
                                <p>When you stop expecting people to be perfect, you can like them for who they are.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span3" id="second-person">
                        <div class="thumbnail">
                            <img src="{% static 'landingpage/images/Carl.JPG' %}" alt="team 2">
                            <h3>Alabastro, Carl Vincent</h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Programmer</h2>
                                <p>When you stop expecting people to be perfect, you can like them for who they are.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span3" id="third-person">
                        <div class="thumbnail">
                            <img src="{% static 'landingpage/images/Dans.JPG' %}" alt="team 3">
                            <h3>Danay, Leizel Ann M.</h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Programmer</h2>
                                <p>When you stop expecting people to be perfect, you can like them for who they are.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span3" id="fourth-person">
                        <div class="thumbnail">
                            <img src="{% static 'landingpage/images/Ralph.JPG' %}" alt="team 4">
                            <h3>De Paz, John Ralph A.</h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Programmer</h2>
                                <p>Short description about the team member.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-text centered">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                </div>
            </div>
        </div>
        <!-- About us section end -->  

        <!-- Newsletter section start -->
        <div class="section third-section">
            <div class="container newsletter">
                <div class="sub-section">
                    <div class="title clearfix">
                        <div class="pull-left">
                            <h3>Newsletter</h3>
                        </div>
                    </div>
                </div>
                <div id="success-subscribe" class="alert alert-success invisible">
                    <strong>Well done!</strong>You successfully subscribet to our newsletter.</div>
                <div class="row-fluid">
                    <div class="span5">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    <div class="span7">
                        <form class="inline-form">
                            <input type="email" name="email" id="nlmail" class="span8" placeholder="Enter your email" required />
                            <button id="subscribe" class="button button-sp">Subscribe</button>
                        </form>
                        <div id="err-subscribe" class="error centered">Please provide valid email address.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter section end -->

        <!-- Contact section start -->
        <div id="contact" class="contact">
            <div class="section secondary-section">
                <div class="container">
                    <div class="title">
                        <h1>Contact Us</h1>
                        <p>Get in touch with us! Whether you have questions, suggestions, or just want to say hello, we'd love to hear from you. Reach out through our contact form or find our contact details below. We're here to help!</p>
                    </div>
                </div>
                <div class="map-wrapper">
                    <div class="map-canvas" id="map-canvas">Loading map...</div>
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span5 contact-form centered">
                                <h3>Say Hello</h3>
                                <div id="successSend" class="alert alert-success invisible">
                                    <strong>Well done!</strong>Your message has been sent.</div>
                                <div id="errorSend" class="alert alert-error invisible">There was an error.</div>
                                <form id="contact-form" action="php/mail.php">
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="text" id="name" name="name" placeholder="* Your name..." />
                                            <div class="error left-align" id="err-name">Please enter name.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="email" name="email" id="email" placeholder="* Your email..." />
                                            <div class="error left-align" id="err-email">Please enter valid email adress.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <textarea class="span12" name="comment" id="comment" placeholder="* Comments..."></textarea>
                                            <div class="error left-align" id="err-comment">Please enter your comment.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button id="send-mail" class="message-btn">Send message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="span9 center contact-info">
                        <p>Palawan State University</p>
                        <p class="info-mail">pasign@gmail.com</p>
                        <div class="title">
                            <h3>We Are PASIGN</h3>
                        </div>
                    </div>
                    <div class="row-fluid centered">
                        <ul class="social">
                            <li>
                                <a href="">
                                    <span class="icon-facebook-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-twitter-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-gplus-circled"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer">

        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->
        <!-- Include javascript -->
        <script src="{% static 'landingpage/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/jquery.mixitup.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/modernizr.custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/jquery.bxslider.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/jquery.cslider.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/jquery.placeholder.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/jquery.inview.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/js/app.js' %}"></script>

        <!-- Load google maps api and call initializeMap function defined in app.js -->
        <script async="" defer="" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initializeMap"></script>
        <!-- css3-mediaqueries.js for IE8 or older -->
        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
        <![endif]-->
    </body>
</html>