body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='308' height='308' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23D3D3D3' stroke-width='1.8'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23D4AF37'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    
    display: flex;
    margin: 40px; /* Increased margin for more space between buttons */
}

.btn {
    display: block;
    padding: 1.5em 3em; /* Increased padding for bigger buttons */
    background: transparent;
    outline: none;
    border: 0;
    color: #d4af37;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 24px; /* Increased font size for bigger buttons */
    font-weight: bold;
    z-index: 1;
    margin: 0 20px; /* Increased margin between buttons */
}

.cube {
    position: relative;
    transition: all 0.5s;
}

.cube .bg-top {
    position: absolute;
    height: 10px;
    background: #d4af37;
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
    transition: all 0.4s;
}

.cube .bg-top .bg-inner {
    bottom: 0;
}

.cube .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: #d4af37;
    transition: all 0.4s;
}

.cube .bg-right {
    position: absolute;
    background: #d4af37;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
    transition: all 0.4s;
}

.cube .bg-right .bg-inner {
    left: 0;
}

.cube .bg-inner {
    background: #28282d;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
}

.cube .text {
    position: relative;
    transition: all 0.4s;
}

.cube:hover .bg-inner {
    background: #d4af37;
    transition: all 0.4s;
}

.cube:hover .text {
    color: #28282d;
    transition: all 0.4s;
}

.cube:hover .bg-right,
.cube:hover .bg,
.cube:hover .bg-top {
    background: #28282d;
}

.cube:active {
    z-index: 9999;
    animation: bounce .1s linear;
}

@keyframes bounce {
    50% {
        transform: scale(0.9);
    }
}


/* /////// */

@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
    overflow: hidden;
    margin: 20px;
}

.button > img {
    width: 50px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
	position: relative;
    right: -5px;
    bottom: -15px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .35s;
    -webkit-transition: opacity .35s;
    color: rgb(0, 0, 0);

    font-weight: bold;
}

.button {
    text-decoration: none;
    float: right;
    padding: 10px;
    margin: 15px;
    color: white;
    width: 50px;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

.navigation > a:hover {
    width: 130px;
}

.navigation > a:hover .logout{
    opacity: .9;
    
}

.navigation > a {
    text-decoration: none;
}

/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


  
  
